## pandas assignment

In [7]:
# import pandas
import pandas as pd

In [8]:
# Create a series of three different colors
colors= pd.Series(["Blue","Green","Red"])

In [9]:
# View the series of three different colors
print(colors)

0     Blue
1    Green
2      Red
dtype: object

In [19]:
# Create a series of three different car types and view it
cars = pd.Series(["Pride","Pegout","Samand"])
cars

0     Pride
1    Pegout
2    Samand
dtype: object

In [15]:
# Combine the Series of cars and colours into a DataFrame
car_data = pd.DataFrame({"Cars":cars,"Colors":colors})
print(car_data)

     Cars Colors
0   Pride   Blue
1  Pegout  Green
2  Samand    Red

In [21]:
# Import "../data/car-sales.csv" and turn it into a DataFrame
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [22]:
# Export the DataFrame you created to a .csv file
car_data.to_csv("car_data.csv")

In [23]:
# Find the different datatypes of the car data DataFrame
car_data.dtypes

Cars      object
Colors    object
dtype: object

In [26]:
# Describe your current car sales DataFrame using describe()
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [28]:
# Get information about your DataFrame using info()
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cars    3 non-null      object
 1   Colors  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes